/* цвет основного текста #757575 */

/* вторичный цвет - цвет заголовков #212121 */

/* акцент #2196F3 */

/* белый #FFFFFF */

/* цвет героя и подвала #2F303A */

/* вторичный цвет фона #F5F4FA */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-text: #ffffff;
  --second-logo-color: #000000;
  --primary-bcg-color: #2f303a;
  --secondary-bcg-color: #f5f4fa;
  --contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--hero-text);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Header */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.logo-header {
  color: var(--second-logo-color);
}

/* Site nav */

.site-nav .link,
.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Button */

.button {
  font-family: inherit;
  border-color: transparent;
  cursor: pointer;
}

/* Footer */

.footer {
  background-color: var(--primary-bcg-color);
}

.logo-footer {
  color: var(--hero-text);
}

.address {
  font-style: normal;
  font-size: 14px;
  color: var(--hero-text);
}

.footer .link {
  font-style: normal;
  font-size: 14px;
  color: var(--contacts-color);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
